@CHARSET "windows-1255";

body {
	background-color: #cce6ff;
}

textarea {
	background: url(http://i.stack.imgur.com/ynxjD.png) repeat-y;
	width: 600px;
	height: 300px;
	font-family: 'Marck Script',cursive;
	line-height: 25px;
	padding: 2px 10px;
	border: solid 1px #ddd;
}

p.headline:AFTER {
	content: "/pen_icon_no_bg.jpg"
}

input {
	font-family: 'Trebuchet MS', Verdana, sans-serif;
	font size: 14px;
	text-align: center;
}

option {
	font-family: 'Trebuchet MS', Verdana, sans-serif;
}

button {
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #ffb366;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px #999;
  font-family: 'Trebuchet MS', Verdana, sans-serif;
  margin-bottom: 6px;
  margin-left: 3px;
}

button:hover {background-color: #e67300}

button:active {
  background-color: #e67300;
  box-shadow: 0 4px #666;
  transform: translateY(4px);
}

button:DISABLED {
	background-color: #6b6b47;
}

input[type="text"] {
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #ffffcc;
  background-color: #ffb366;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px #999;
  font-family: 'Trebuchet MS', Verdana, sans-serif;
  margin-bottom: 6px;
  margin-left: 3px;
}

.sumbit input {
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #ffffcc;
  background-color: #ffb366;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px #999;
  font-family: 'Trebuchet MS', Verdana, sans-serif;
  margin-bottom: 6px;
  margin-left: 3px;
}

input[type="submit"]:hover {background-color: #e67300}

input[type="submit""]:active {
  background-color: #e67300;
  box-shadow: 0 4px #666;
  transform: translateY(4px);
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}