@CHARSET "windows-1255";

body {
	background-color: #cce6ff;
}

textarea {
	background: url(http://i.stack.imgur.com/ynxjD.png) repeat-y;
	width: 600px;
	height: 300px;
	float: right;
	font-family: 'Marck Script', cursive;
	line-height: 25px;
	padding: 2px 10px;
	border: solid 1px #ddd;
	background-attachment: fixed;
	background-position: right center;
}

p.headline:AFTER {
	content: "/pen_icon_no_bg.jpg"
}

input {
	font-family: 'Trebuchet MS', Verdana, sans-serif;
	font size: 14px;
	text-align: center;
}

option {
	font-family: 'Trebuchet MS', Verdana, sans-serif;
}

button {
	display: inline-block;
	padding: 5px 10px;
	font-size: 14px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #ffb366;
	border: none;
	border-radius: 8px;
	box-shadow: 0 4px #999;
	font-family: 'Trebuchet MS', Verdana, sans-serif;
	margin-bottom: 6px;
	margin-left: 3px;
}

button:hover {
	background-color: #e67300
}

button:active {
	background-color: #e67300;
	box-shadow: 0 4px #666;
	transform: translateY(4px);
}

button:DISABLED {
	background-color: #c0c0c0;
}

input[type="text"] {
	display: inline-block;
	padding: 5px 10px;
	font-size: 14px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #808080;
	background-color: #fef08d;
	border: none;
	border-radius: 4px;
	font-family: 'Trebuchet MS', Verdana, sans-serif;
	margin-bottom: 6px;
	margin-left: 3px;
}

input[type="submit"] {
	display: inline-block;
	padding: 5px 10px;
	font-size: 14px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #ffffcc;
	background-color: #fc8e69;
	border: none;
	border-radius: 8px;
	font-family: 'Trebuchet MS', Verdana, sans-serif;
	margin-bottom: 6px;
	margin-left: 3px;
}

input[type="submit"]:hover {
	background-color: #fc794e
}

input[type="submit"]:active {
	background-color: #fc794e;
	transform: translateY(4px);
}

input[type="text"]:hover {
	background-color: #f5d803
}

input[type="text"]:active {
	background-color: #f5d803;
	transform: translateY(4px);
}

select {
	color: #ffffcc;
	background-color: #119ce8;
}

button[type="submit"] {
	color: #ffffcc;
	background-color: #65c1f3;
}

div.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: #dffffb; /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
div.modal-content {
	background-color: #dffffb;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

/* The Close Button */
span.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

span.close:hover {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

span.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}