@CHARSET "windows-1255";

body {
	background-color: #cce6ff;
}

textarea {
	background-image: -moz-linear-gradient(top , transparent, transparent 49px,#85adad 0px), -moz-radial-gradient(4% 50%, circle closest-corner, #f5f5f5, #f5f5f5 39%, transparent 0%), -moz-radial-gradient(3.9% 46% , circle closest-corner, #CCCCCC, #CCCCCC 43.5%, transparent 0%); 
    background-image: -webkit-linear-gradient(top , transparent, transparent 49px,#85adad 0), -webkit-radial-gradient(4% 50%, circle closest-corner, #f5f5f5, #f5f5f5 39%, transparent 0%), -webkit-radial-gradient(3.9% 46%, circle closest-corner, #cccccc, #cccccc 43.5%, transparent 0%);
    
    -webkit-background-size:  100% 50px;
    background-size: 100% 50px;
    border: 1px solid #EEEEEE;
    box-shadow: 1px 1px 0 #DDDDDD;
    display: block;
    font-family: 'Trebuchet MS', Verdana, sans-serif;
    font-size: 22px;
    line-height: 50px;
    margin: 2% auto;
    padding: 11px 20px 0 70px;
    resize: none;
    height: 100%;
    width: 100%;
    background-color: #ffeecc;
}

input {
	font-family: 'Trebuchet MS', Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
}

option {
	font-family: 'Trebuchet MS', Verdana, sans-serif;
}

button {
	display: inline-block;
	padding: 5px 10px;
	font-size: 14px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #ffb366;
	border: none;
	border-radius: 8px;
	box-shadow: 0 4px #999;
	font-family: 'Trebuchet MS', Verdana, sans-serif;
	margin-bottom: 6px;
	margin-left: 3px;
}

button:hover {
	background-color: #e67300
}

button:active {
	background-color: #e67300;
	box-shadow: 0 4px #666;
	transform: translateY(4px);
}

button:DISABLED {
	background-color: #c0c0c0;
}

input[type="text"] {
	display: inline-block;
	padding: 5px 10px;
	font-size: 14px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #808080;
	background-color: #fef08d;
	border: none;
	border-radius: 4px;
	font-family: 'Trebuchet MS', Verdana, sans-serif;
	margin-bottom: 6px;
	margin-left: 3px;
}

input[type="submit"] {
	display: inline-block;
	padding: 5px 10px;
	font-size: 14px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #ffffcc;
	background-color: #fc8e69;
	border: none;
	border-radius: 8px;
	font-family: 'Trebuchet MS', Verdana, sans-serif;
	margin-bottom: 6px;
	margin-left: 3px;
}

input[type="submit"]:hover {
	background-color: #fc794e
}

input[type="submit"]:active {
	background-color: #fc794e;
	transform: translateY(4px);
}

input[type="text"]:hover {
	background-color: #f5d803
}

input[type="text"]:active {
	background-color: #f5d803;
	transform: translateY(4px);
}

select {
	color: #ffffcc;
	background-color: #119ce8;
}

button[type="submit"] {
	color: #ffffcc;
	background-color: #65c1f3;
}

div.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 20px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	font-family: Verdana, Arial, Sans-Serif;
	color: #800040;
	text-align: center;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
	border-top-style: none;
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-top-color: #000000;
	border-right-color: #000000;
	overflow: scroll;
}


/* Modal Content */
div.modal-content {
	background-color: #dffffb;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

/* The Close Button */
span.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

span.close:hover {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

span.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}